Source: scribes
Section: editors
Priority: optional
Maintainer: Lateef Alabi-Oki <mystilleef@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: autotools-dev,
                     pkg-config,
                     gnome-doc-utils (>= 0.3.2),
                     intltool,
                     python (>= 2.5),
                     python-xdg,
                     python-support,
                     python-dbus (>= 0.70),
                     python-gtkspell,
                     python-gtk2 (>= 2.10),
                     python-gtksourceview2,
                     scrollkeeper,
                     yelp (>= 2.12)
Standards-Version: 3.9.1
Homepage: http://scribes.sf.net/
XS-Python-Version: >= 2.5

Package: scribes
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-xdg,
         python-dbus (>= 0.70),
         python-glade2,
         python-gtkspell,
         python-gtksourceview2,
         python-gtk2 (>= 2.10),
         scrollkeeper,
         yelp (>= 2.12)
Description: Ultra minimalist smart text editor.
 Imagine an experience that is devoid of distractions. An
 experience that makes you exponentially productive by
 intelligently optimizing your flow. An experience immersed
 in minimalism and efficiency. That lets your do more by
 typing less. That lets your focus exclusively on the task
 at hand. An experience that doesn't sacrifice power, yet
 remains simple. Scribes is that experience.
